/* Root Color */
:root {
    --primary_color: rgb(16, 13, 37);
    --primary_color_hover: rgb(11, 9, 26);
    --secondary_color: rgb(244, 183, 32);
    --ready_color: rgb(3, 150, 28);
    --block_color: rgb(230, 20, 20);
    --use_color: rgb(78, 78, 78);
}
.footer {
    color: ghostwhite !important;
}
.navbarku {
    height: 75px;
}
/* Hero Page  */
.hero-page {
    height: 600px;
}
.hero-page img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-page .title-hero {
    font-size: 3rem;
    color: var(--secondary_color);
    font-weight: bold;
    font-family: "Itim", cursive;
}
.hero-page .desc-hero {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}
.cardku {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(212, 212, 212);
    transition: all 1s;
}
.cardku:hover {
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
    background-color: #eaeaea;
}
.cardku img {
    height: 200px;
    object-fit: cover;
}
.cardku .card-title {
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 1px;
}
.cardku .card-text {
    text-align: center;
    margin-bottom: 1px;
}
.cardku .keterangan {
    padding: 16px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.bt-secondary {
    all: unset;
    border-radius: 20px;
    padding: 16px;
    color: var(--primary_color);
    background-color: var(--secondary_color);
    cursor: pointer;
    transition: all 0.5s;
    font-family: "Itim", cursive;
}
.bt-secondary:hover {
    color: white;
    background-color: var(--primary_color_hover);
}
.bt-primary {
    all: unset;
    text-align: center;
    color: white;
    background-color: var(--primary_color);
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
}
.bt-primary:hover {
    color: white;
    background-color: var(--secondary_color);
    color: var(--primary_color);
}
.bt-primary-navbar {
    all: unset;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: var(--secondary_color);
    background-color: var(--primary_color);
    cursor: pointer;
    transition: all 0.5s;
    font-family: "Itim", cursive;
}
.bt-primary-navbar:hover {
    color: var(--primary_color);
    background-color: var(--secondary_color);
}
.backgroundku {
    background: rgb(16, 13, 37);
    background: linear-gradient(
        45deg,
        rgba(16, 13, 37, 1) 0%,
        rgba(91, 81, 157, 1) 46%,
        rgba(209, 203, 255, 1)
    );
}
.navbar.scrolled {
    background-color: white !important;
    transition: all 0.2s;
    box-shadow: 0 4px 2px -2px rgb(180, 178, 178);
}
/* Login Page */
.body_login {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 45%;
    margin-bottom: 10px;
}
.center p {
    text-align: center;
}
.center form {
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}
.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover {
    text-decoration: underline;
}
button[type="submit"] {
    width: 100%;
    height: 50px;
    background: var(--primary_color);
    border-radius: 10px;
    font-size: 18px;
    color: var(--secondary_color);
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
    border: none;
}
button[type="submit"]:hover {
    transition: 0.5s;
    background: var(--secondary_color);
    color: var(--primary_color);
}

/* Pendaftaran Page */
.bodyku {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.form_pendaftaran {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 50px;
}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 40px;
}
.form-group {
    margin-bottom: 16px;
}
.jarak_bawah {
    margin-bottom: 5px;
}
.f16 {
    font-size: 1.6rem;
}
.border-information {
    border: 1px solid green;
    padding: 20px;
    border-radius: 15px;
}
.text-green {
    color: green;
}
.border-reservasi {
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
}
/* tombol */
.tombol-minus {
    all: unset;
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 10px;
    transition: all 200ms;
}
.tombol-minus:hover {
    background-color: rgb(255, 42, 42);
    color: white;
}
.tombol-plus {
    all: unset;
    cursor: pointer;
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 10px;
}
.tombol-plus:hover {
    background-color: rgb(41, 41, 241);
    color: white;
}
.close-x {
    all: unset;
    cursor: pointer;
    color: red;
    font-size: 25px;
}
.margin-bottom-kecil {
    margin-bottom: 10px;
}
.layout-kecil {
    display: none;
}

/* Responsive Web */
@media only screen and (max-width: 600px) {
    .form_pendaftaran {
        width: 95%;
    }
    .margin-bottom-kecil {
        margin-bottom: 30px;
    }
    .layout-besar {
        display: none;
    }
    .layout-kecil {
        display: block;
    }
    .sub-line {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .sub-line .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    .nav-side-menu .sub-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .sub-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .sub-line ul .sub-press li.active,
    .sub-line li .sub-press li.active {
        color: #d19b3d;
    }

    .sub-line ul .sub-press li.active a,
    .sub-line li .sub-press li.active a {
        color: #d19b3d;
    }
    .sub-line ul .sub-press li,
    .sub-line li .sub-press li {
        background-color: #181c20;
        border: none;
        line-height: 28px;
        border-bottom: 1px solid #23282e;
        margin-left: 0px;
    }
    .sub-line ul .sub-press li:hover,
    .sub-line li .sub-press li:hover {
        background-color: #020203;
    }
    .sub-line ul .sub-press li:before,
    .sub-line li .sub-press li:before {
        font-family: Arial;
        content: "\f105";
        display: inline-block;
        padding-left: 50px;
        padding-right: 10px;
        vertical-align: middle;
    }

    .sub-line li {
        padding-left: 20px;
        border-left: 3px solid #2e353d;
        border-bottom: 1px solid #23282e;
    }
    .sub-line li a {
        text-decoration: none;
        color: #e1ffff;
    }
    .sub-line li a i {
        padding-left: 50px;
        width: 20px;
        padding-right: 20px;
    }
    .sub-line li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #4f5b69;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
}
